body, html{
    padding: 0;
    margin: 0;
}

.item{
	color: white;
	background-color: #7971ea;
	border: 5px solid #443ea0;
	border-radius: 8px;
	padding: 20px 10px;
	font-size: 1.5em;
	text-align: center;
    flex-grow: 1;
    box-sizing: border-box;
}


.row{
    display:flex;
    flex-wrap: wrap;
}

.item-1{
    flex-basis: 8.33%;
}
.item-2{
    flex-basis: 16.67%;
}
.item-3{
    flex-basis: 25%;
}
.item-4{
    flex-basis: 33.3%;
}
.item-5{
    flex-basis: 41.667%;
}
.item-6{
    flex-basis: 50%;
}
.item-7{
    flex-basis: 58.33%;
}
.item-8{
    flex-basis: 66.667%;
}
.item-9{
    flex-basis: 75%;
}
.item-10{
    flex-basis: 83.33%;
}
.item-11{
    flex-basis: 91.667%;
}
.item-12{
    flex-basis: 100%;
}


@media (max-width: 600px){
    .item-1, .item-2, .item-3{
        flex-basis: 50%;
    }